
p {
	 margin: 0px 290px 0px 290px;
	 line-height:270%;
	 text-indent: 50px;
	 font-size: 14px;
}

table {
	text-align: left;
	width: 0%;
	background-color: transparent;
	border: 0px black;
	width: 40%;
}

.table2 {
	text-align: center;
	width: 0%;
	background-color: transparent;
	border: 0px transparent;
	width: 40%;
}

td .td2{
	text-align: right;

}

body {
	font-family: century gothic;
	font-size: 13px;
	margin: 0;
	background-size: cover;
	margin: 0;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/* agar navbar tetap stay di atas */
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: #111;
}
li.dropdown{
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;

}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content{
	display: block;
}


/* bikin hover teks berubah warna ketika di klik*/
a:hover,focus{color:rgba(250,200,0,1);}
.pic{position:relative;}
img {
  overflow:hidden;margin-top:10px;
  border:1px solid #ccc;width:205px;}

img:hover ~ .text {opacity:1;}
img:hover {border:1px solid rgba(250,200,0,1);border-radius:5px;}

.h {
	text-align: center;
	text-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

